 body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #000;
    padding: 10px 20px;
}

.navbar-brand{
    max-height: 10px; }/* Adjust the max height according to your design }*/


 .nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-menu a:hover {
    background-color: #444;
    border-radius: 5px;
}


    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 0;
    } */



 









/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0 15px;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons .franchise, .header-buttons .order-online {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.header-buttons .order-online {
    background-color: red;
    border: none;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text h1 {
    font-size: 3em;
    margin: 0;
}

.banner-text p {
    font-size: 2em;
    margin: 0;  }                                                                                                                     

.banner-text .order-now {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2em;
    border-radius: 5px;
} */

/* .contact-numbers {
    margin-top: 20px;
}

.contact-numbers p {
    font-size: 1.5em;
    margin: 5px 0;
}  */
